#{link_to 'two_letter_words', two_letter_words_home_path}
| #{link_to 'three_letter_words', three_letter_words_home_path}
| #{link_to 'four_letter_words', four_letter_words_home_path}
| #{link_to 'words_with_g', words_with_g_home_path}
| #{link_to 'riddles', riddles_home_path}
| #{link_to 'g_stats', g_stats_home_path}
